<div>
    <h2>Celebrities</h2>
</div>

<div>
    <ul class="list-group list-group-flush">
        {{#each celebrities as |celebrity| }}
            <li class="list-group-item">{{celebrity.name}}</li>
        {{/each}}
    </ul>
</div>