<div class="mb-5 mb-5">
    <h2>Celebrities</h2>
</div>

<div>
    <ul class="list-group list-group-flush">
        {{#each celebrities as |celebrity| }}
            <li class="list-group-item"><a href="/celebrities/{{celebrity.id}}">{{celebrity.name}}</a></li>
        {{/each}}
    </ul>
</div>